services:

  auth:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    depends_on:
      auth-db:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "wget", "--spider", "http://localhost:3000/health" ]
      interval: 10s
      timeout: 3s
      retries: 3
    networks:
      - app-network

  auth-db:
    image: postgres:16
    container_name: nest-postgres
    restart: always
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
